@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}




@layer customproperties{
    :root{
        --clr-blue-900: #13183F;
        --clr-blue-600: #6663ac;
        --clr-pink-600: #F74780;
        --clr-pink-300: #FFa7c3;
        --clr-grey: #83869A;
        --clr-neutral: #FFF;

        
    }
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}


@layer utility{


a{
  text-decoration: none;
}

.wrapper{
   overflow-x: hidden;
   position: relative; 
}

}

.container{
  width: 90%;
  max-width: 1100px;
  margin-inline: auto;

}

.top-nav-links{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-block-start: 1rem;
}


