@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@layer customproperties{
    :root{
        --clr-blue-900: #13183F;
        --clr-blue-600: #6663ac;
        --clr-pink-600: #F74780;
        --clr-pink-300: #FFa7c3;
        --clr-grey: #83869A;
        --clr-neutral: #FFF;

        
    }
}

@layer reset{
    /* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}
}

@layer base-styles{

    body{
        font-family: 'Plus Jakarta Sans', sans-serif;
    }

    .heading-lrg{
        font-size: 3.5rem;
        line-height: 120%;
        letter-spacing: 0px;
        font-weight: 800;
        color: var(--clr-blue-900); 

    }

    .heading-hero-card{
        font-size: 2.5rem;
        line-height: 120%;
        letter-spacing: 0px;
        font-weight: 800;
        color: var(--clr-blue-900); 
    }

    .heading-md{
        font-size: 2rem;
        line-height: 120%;
        letter-spacing: 0px;
        font-weight: 800; 
    }

    .heading-card{
        font-size: 1.5rem;
        line-height: 120%;
        letter-spacing: 0px;
        font-weight: 800; 
    }

    .body-text{
        font: 1.125rem;
        line-height: 150%;
        letter-spacing: 0px;
        font-weight: 500;
        color: var(--clr-grey)
    }

    .card-link{
        font-size: 1.125rem;
        line-height: 150%;
        letter-spacing: 0px;
        font-weight: 700;
    }

    .btn-link{
        font-size: 1rem;
        line-height: 150%;
        letter-spacing: 0px;
        font-weight: 700;
        text-decoration: none;
        color: var(--clr-neutral);
        border-radius: 28px;
        padding: 1rem 2rem;
    }
    
    .header-btn-link{
        background-color: var(--clr-blue-900);
    }

    .hero-btn-link{
        background-color: var(--clr-pink-600);
    }

    .footer-btn-link{
        background-color: var(--clr-blue-600);
    }
}

@layer components{
    .card{
        background-color: var(--clr-neutral);
        box-shadow: 0 8px 24px rgba(0,0,0,.06);
        padding: 64px 32px 40px 32px;
        border-radius: 15px;
        display: flex;
        max-height: 322px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .card img{
        position: relative;
        top: -52px;
    }

    .card-info-container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: -36px;
        
    }

    .card-link{
        text-decoration: none;
        color: #F74780;
    }

    .card-info{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .card:first-of-type{
        background-color: var(--clr-pink-600);
        color: white;
        
    }
    
}

@layer layout{
    body{
        width: 100%;
    }

    header{
        margin-block-start: 1.5rem;
        width: 100%;
        margin-inline: 0 auto;
    }

    .header-wrapper{
        max-width: 1440px;
        margin-inline: auto;

    }
    header nav{
        padding-inline: 80px;
        margin-block-end: 2rem;
    }

    .nav-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 1120px;
        margin: 0 auto;
    }

    .hero-wrapper{
        max-width: 1120px;
        margin: 0 auto;

    }

    .two-column-hero{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        padding-inline: 1.25rem;
    } 

    .hero-info-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 2.5rem;
    }

    .hero-info{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 1.5rem;
        max-width: 457px;
    }

    .hero-image{
        align-items: flex-start;
        position: relative;
    }
    .hero-image-mobile{
        display: none;
    }

    
    .cards-wrapper{
        max-width: 1120px;
        margin: 0 auto;
    }

    .cards-container-grid{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 2rem;
        row-gap: 3.5rem;
        padding-inline: 1.25rem;
        max-width: 1120px;
    }
    
    .cards-section{
        margin: 0 auto;
    }

    main{
        margin: 0 auto;
    }
    

    footer{
        background-color: var(--clr-blue-900);
        margin-top: 144px;
        border: 2px solid white;
        padding: 24px 80px;
    }
    
    .footer-wrapper{
        display: flex;
        border: 2px solid black;
        max-width: 1120px;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }

    .footer-nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }


   @media (max-width: 1120px){
        
    .header-wrapper{
        max-width: 768px;
    }

    .nav-container{
        max-width: 680px;
    }

    .two-column-hero{
        max-width: 680px;
    }
    
    .hero-info-container{
        max-width: 328px;
    }

    .heading-lrg{
        text-wrap: nowrap;
    }

    .hero-info{
        max-width: 326px;
    }

    .cards-wrapper{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        max-width: 680px;
    }
    
    main{
            max-width: 768px;
            margin-top: 2.5rem;
        }    
    
    .cards-container-grid{
            grid-template-columns: repeat(2, 1fr);
            border: 2px solid black;
    
    }



   

    }

     @media (max-width: 750px){
        .hero-image{
            
        }

        .hero-wrapper{
            border: 2px solid black;
            display: flex;
            flex-direction: column;
        }

        .two-column-hero{
        grid-template-columns: 1fr;
        max-width: 335px;
        margin: 0 auto;
        padding-inline: .5rem
        }
        
        
        .hero-info-container{
          
            border: 2px solid black;
            
        }

        .hero-info{
            border: 2px solid black;
            
        }
        .heading-lrg{
            
        }

        .cards-container-grid{
            grid-template-columns: 1fr;
            border: 2px solid black;
        }
    }
    
}