@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}




@layer customproperties{
    :root{
        --clr-blue-900: #13183F;
        --clr-blue-600: #6663ac;
        --clr-pink-600: #F74780;
        --clr-pink-300: #FFa7c3;
        --clr-grey: #83869A;
        --clr-neutral: #FFF;

        
    }
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
}


@layer utility{


a{
  text-decoration: none;
}

.wrapper{
   overflow-x: hidden;
   position: relative; 
}

}

.container{
  width: 90%;
  max-width: 1100px;
  margin-inline: auto;

}

.top-nav-links{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-block-start: 1rem;
  align-items: center;
}

.btn{
  padding: 1rem 2rem;
  border-radius: 1.75rem;
  border: none;
  line-height: 150%;
  font-weight: 700;
  font-size: 1.125rem;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.dark-btn{
  background-color: var(--clr-blue-900);
  color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  
}

.dark-btn:hover{
  opacity: 0.8;
}


/* 


Media Queries


*/

@media (max-width: 350px){
  .dark-btn{
    padding: 1rem 1rem;
    font-size: 1rem;
  }
}

@media (max-width: 1100px){
  .desktop-hero-image{
    display: none;
  }
  .tablet-hero-image{
    display: block;
  }

  .hero-img{
    margin-right: 0rem;
  }
}

/* 

Hero Section

*/

.hero-info-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2.5rem;
}

.hero-text-container{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.hero-two-column-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
}

.hero-heading{
  font-size: 3.5rem;
  text-wrap: nowrap;
  color: var(--clr-blue-900);
}

.hero-text{
  color: var(--clr-grey);
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 150%;
  max-width: 460px;
}


.hero-btn{
background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
color: white;
}

.hero-btn:hover{
  opacity: 0.8;
}

.hero-desktop-image{
  margin-top: -15rem;
  margin-right: -33rem;
}

.hero-mobile-image,.hero-tablet-image{
  display: none;
}



/* 

Grid Section


*/


.courses{
  margin-top: 2.5rem;
}

.card{
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 64px 40px 40px 32px;
  border-radius: .9rem;

}

.gradient-card{
  background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
  color: white;
  font-size: 2rem;
  font-weight: 800;
  line-height: 120%;
}


.card-contents, .card-text-content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

.card-contents{
  margin-top: -5.5rem;
}

.courses-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  row-gap: 3.5rem;
}
/* 


Media Queries





*/


@media (max-width: 1220px) {
  .hero-desktop-image{
    margin-right: -30rem;
    margin-top: -13rem;
  }
}



@media (max-width: 1100px){
  .hero-mobile-image, .hero-desktop-image{
    display: none;
  }
  .hero-tablet-image{
    display: block;
    margin-top: -6rem;
    margin-left: 7rem;
  }

 
}


@media (max-width: 980px){
  .hero-tablet-image{
    margin-left: 0rem;
  }
}


@media (max-width: 860px){
  .hero-tablet-image{
    margin-left: -5rem;
  }
}


@media (max-width: 780px){
  .hero-two-column-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    border: 2px solid black;
  }

  .hero-tablet-image{
    display: block;
    margin-right: 0rem;
    margin-left: 0rem;

  }


  .hero-text{
    max-width: 600px;
  }

  .hero-heading{
    font-size: 2.5rem;
  }
}

@media (max-width:720px){
 .hero-tablet-image{
 display: none;
 }
 .hero-two-column-container{
  grid-template-columns: repeat(1, 1fr);
  margin-top: 2.5rem;
 }

 .hero-mobile-image{
  display: block;
 }

.hero-heading{
  font-size: 3rem;
}


 .hero-text{
  max-width: 380px;
  font-size: 1.5rem;
 }
}


@media (max-width: 425px) {
  .hero-text{
    max-width: 326px;
  }

  .hero-two-column-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
  .hero-mobile-image{
    margin: 0;

  }
  .container{
    max-width: 325px;
  }
}


@media (max-width: 400px){
  .container{
    max-width: 300px;
  }

  .hero-heading{
    max-width: 275px;
    font-size: 2.25rem;
  }

  .hero-text{
    max-width: 350px;
    font-size: 1.25rem;
  }
  
}

@media (max-width: 350px){
  .dark-btn{
    padding: 1rem 1rem;
    font-size: 1rem;

  }

  .hero-heading{
    font-size: 2rem;
  }

  .hero-text{
    font-size: 1rem;
  }
}



/* 